<nav class="nav-box">
    <ul>
        <li><a <{eq name="action" value="10"}> class="action" <{/eq}> href="index.html?recommend=<{$recommend}>"><img src="__STATIC__/shop/image/home-sel.png" alt="">首页</a></li>
        <li><a <{eq name="action" value="20"}> class="action" <{/eq}> href="card.html?number=1&recommend=<{$recommend}>"><img src="__STATIC__/shop/image/card.png" alt="">卡.周边</a></li>
        <li><a <{eq name="action" value="30"}> class="action" <{/eq}> href="position.html?recommend=<{$recommend}>"><img src="__STATIC__/shop/image/position.png" alt="">马上用</a></li>
        <li><a <{eq name="action" value="40"}> class="action" <{/eq}> href="shop.html?recommend=<{$recommend}>"><img src="__STATIC__/shop/image/shopping.png" alt="">购物车</a></li>
        <li><a <{eq name="action" value="50"}> class="action" <{/eq}> href="person.html?recommend=<{$recommend}>"><img src="__STATIC__/shop/image/person.png" alt="">个人中心</a></li>
    </ul>
</nav>