<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>视频管理</title>
    <meta name="Keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="__STATIC__/css/default.css" />
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="__STATIC__/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__STATIC__/assets/font-awesome/4.5.0/css/font-awesome.min.css" />

    <!-- page specific plugin styles -->

    <!-- text fonts -->
    <link rel="stylesheet" href="__STATIC__/assets/css/fonts.googleapis.com.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="__STATIC__/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="__STATIC__/assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
    <![endif]-->
    <link rel="stylesheet" href="__STATIC__/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="__STATIC__/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="__STATIC__/assets/css/myStyle.css" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="__STATIC__/assets/css/ace-ie.min.css" />
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->
    <script src="__STATIC__/assets/js/ace-extra.min.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script src="__STATIC__/assets/js/html5shiv.min.js"></script>
    <script src="__STATIC__/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="no-skin">
<!-- top -->
<{include file="public:nav_top" }>
<!-- top -->
<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch(e) {}
    </script>

    <div id="sidebar" class="sidebar                  responsive                    ace-save-state">
        <script type="text/javascript">
            try {
                ace.settings.loadState('sidebar')
            } catch(e) {}
        </script>
        <div class="sidebar-shortcuts" id="sidebar-shortcuts">
            <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                <button class="btn btn-success">
                    <i class="ace-icon fa fa-signal"></i>
                </button>

                <button class="btn btn-info">
                    <i class="ace-icon fa fa-pencil"></i>
                </button>

                <button class="btn btn-warning">
                    <i class="ace-icon fa fa-users"></i>
                </button>

                <button class="btn btn-danger">
                    <i class="ace-icon fa fa-cogs"></i>
                </button>
            </div>
            <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                <span class="btn btn-success"></span>

                <span class="btn btn-info"></span>

                <span class="btn btn-warning"></span>

                <span class="btn btn-danger"></span>
            </div>
        </div>
        <!-- /.sidebar-shortcuts -->

        <!-- /.nav-menu -->
        <{include file="public:menu" }>
        <!-- /.nav-menu -->
        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div>

    <div class="main-content">
        <div class="main-content-inner">
            <!--面包屑-->
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="index.html">首页</a>
                    </li>
                    <li>
                        <a href="#">视频管理</a>
                    </li>

                    <li class="active">视频列表</li>
                </ul>
                <!-- /.breadcrumb -->

                <div class="nav-search" id="nav-search">
                    <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="搜索 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
                    </form>
                </div>
                <!-- /.nav-search -->
            </div>

            <div class="page-content">
                <div class="row">
                    <a href="video_add.html"><button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#add-ad">
                        <i class="ace-icon fa fa-plus"></i>
                        添加视频
                    </button></a>
                </div>

                <div class="space-4"></div>

                <div class="ace-settings-container" id="ace-settings-container">
                    <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                        <i class="ace-icon fa fa-cog bigger-130"></i>
                    </div>

                    <div class="ace-settings-box clearfix" id="ace-settings-box">
                        <div class="pull-left width-50">
                            <div class="ace-settings-item">
                                <div class="pull-left">
                                    <select id="skin-colorpicker" class="hide">
                                        <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                                        <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                        <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                        <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                                    </select>
                                </div>
                                <span>&nbsp; 换肤</span>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-navbar" autocomplete="off" />
                                <label class="lbl" for="ace-settings-navbar"> 固定导航栏</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off" />
                                <label class="lbl" for="ace-settings-sidebar"> 固定侧边栏</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-breadcrumbs" autocomplete="off" />
                                <label class="lbl" for="ace-settings-breadcrumbs"> 固定面包屑导航</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" autocomplete="off" />
                                <label class="lbl" for="ace-settings-rtl"> 左右互换</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container" autocomplete="off" />
                                <label class="lbl" for="ace-settings-add-container">
                                    内部
                                    <b>.container</b>
                                </label>
                            </div>
                        </div>
                        <!-- /.pull-left -->

                        <div class="pull-left width-50">
                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off" />
                                <label class="lbl" for="ace-settings-hover"> 子菜单悬停</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off" />
                                <label class="lbl" for="ace-settings-compact"> 紧凑的侧边栏</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off" />
                                <label class="lbl" for="ace-settings-highlight"> Alt. Active 项目</label>
                            </div>
                        </div>
                        <!-- /.pull-left -->
                    </div>
                    <!-- /.ace-settings-box -->
                </div>
                <!-- /.ace-settings-container -->
                <!-- /.ace-settings-container -->

                <div class="row">
                    <!-- PAGE CONTENT BEGINS -->
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="hidden-480">ID</th>
                            <th>视频图片</th>
                            <th class="hidden-480">视频名称</th>
                            <th class="hidden-480">分类名称</th>
                            <th class="hidden-480">视频窗口（长*宽）</th>
                            <th class="hidden-480">添加时间</th>
                            <th class="hidden-480">排序</th>
                            <th>状态</th>
                            <th style="border-right: 1px solid #ddd;">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <{foreach name="video_list" item="video"}>
                                <tr style="height:100px;">
                                    <td class="hidden-480" style="line-height:100px;">
                                        <{$video.video_id}>
                                    </td>
                                    <td>
                                        <a href="<{$video.video_url}>" target="_blank"><img src="__PUBLIC__/<{$video.video_img}>" width="200px" height="80px" /></a>
                                    </td>
                                    <td>
                                        <{$video.video_name}>
                                    </td>
                                    <td class="hidden-480">
                                        <{:return_columnName($video.video_pid)}>
                                    </td>
                                    <td class="hidden-480">
                                        <{$video.video_width}>*<{$video.video_height}>
                                    </td>
                                    <td class="hidden-480">
                                        <{$video.video_time}>
                                    </td>
                                    <td class="hidden-480">
                                        <input type="number" class="input-small" value="<{$video.video_order}>"/>
                                    </td>
                                    <td>
                                        <{eq name="video['video_open']" value="20"}>
                                        <button class="status btn btn-minier btn-danger" type="button" data-id="<{$video.video_id}>" data-type="start">禁用</button>
                                        <{/eq}>
                                        <{eq name="video['video_open']" value="10"}>
                                        <button class="status btn btn-minier btn-success"  type="button" data-id="<{$video.video_id}>" data-type="stop">开启</button>
                                        <{/eq}>
                                    </td>
                                    <td>
                                        <a href="video_edit.html?id=<{$video.video_id}>""><button class="btn btn-xs btn-info" data-toggle="modal" data-target="#edit-ad" tpid="<{$video.video_pid}>" data-id="<{$video.video_id}>">
                                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                                        </button></a>
                                        <button class="btn btn-xs btn-danger bootbox-del" tpid="<{$video.video_pid}>"  data-id="<{$video.video_id}>">
                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                        </button>
                                    </td>
                                </tr>
                        <{/foreach}>
                        </tbody>
                    </table>

                    <!-- PAGE CONTENT ENDS -->
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <ul class="pagination no-margin">

                    </ul>
                </div>
            </div>
            <!-- /.page-content -->
        </div>
    </div>
    <!-- /.main-content -->
    <{include file="public:footer"}>
</div>

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
</div>
<!-- /.main-container -->

<!-- 添加视频模态框（Modal） -->
<!-- 显示模态框（Modal） -->
<!-- /.modal -->
<!-- /.modal -->

<!-- basic scripts -->

<!--[if !IE]> -->
<script src="__STATIC__/assets/js/jquery-2.1.4.min.js"></script>
<!-- <![endif]-->

<!--[if IE]>
<script src="__STATIC__/assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='__STATIC__/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
<script src="__STATIC__/assets/js/bootstrap.min.js"></script>

<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
<script src="__STATIC__/assets/js/excanvas.min.js"></script>
<![endif]-->
<script src="__STATIC__/assets/js/jquery-ui.custom.min.js"></script>
<script src="__STATIC__/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="__STATIC__/assets/js/bootbox.js"></script>
<script src="__STATIC__/assets/js/jquery.easypiechart.min.js"></script>
<script src="__STATIC__/assets/js/jquery.gritter.min.js"></script>
<script src="__STATIC__/assets/js/spin.js"></script>

<!-- ace scripts -->
<script src="__STATIC__/assets/js/ace-elements.min.js"></script>
<script src="__STATIC__/assets/js/ace.min.js"></script>
<script src="__STATIC__/assets/js/main.js"></script>

<!-- inline scripts related to this page -->
<script src="__STATIC__/js/default.js"></script>
<script type="text/javascript">
    jQuery(function($) {
        //删除按钮
        $(".bootbox-del").on(ace.click_event, function() {
            var delId = $(this).attr("data-id");
            bootbox.confirm({
                message: "是否删除本条视频？",
                size: 'small',
                buttons: {
                    confirm:{label:"确认删除"},
                    cancel:{label:"取消删除"}
                },
                callback: function(result) {
                    if(result) {
                        //确定后执行
                        $.ajax({
                            url:"delVideo.html",
                            type:"post",
                            data:{delId:delId,type:'del'},
                            dataType:"json",
                            success:function(re){
                                window.alert(re.msg);
                                if(re.code==200){
                                    window.location.href="video.html";
                                }else{
                                    window.alert(re.msg);
                                    return false;
                                }
                            }
                        });
                    }
                }
            });
        });
        //状态开启关闭
        $("td .btn-success").on(ace.click_event, function() {
            var delId = $(this).attr("data-id");
            var type  = $(this).attr("data-type");
            bootbox.confirm({
                message: "确认要关闭/开启视频吗？",
                size: 'small',
                buttons: {
                    confirm:{label:"确认"},
                    cancel:{label:"取消"}
                },
                callback: function(result) {
                    if(result) {
                        //确定后执行
                        $.ajax({
                            url:"del_video.html",
                            type:"post",
                            data:{delId:delId,type:type},
                            dataType:"json",
                            success:function(re){
                                if(re.code==200){
                                    window.alert(re.msg);
                                    window.location.href="video.html";
                                }else{
                                    window.alert(re.msg);
                                    return false;
                                }
                            }
                        });
                    }
                }
            });
        });

    });

</script>
</body>

</html>