<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__STATIC__/shop/css/reset.css">
    <link rel="stylesheet" href="__STATIC__/shop/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="__STATIC__/shop/css/personData.css">
</head>
<body>
<section class="container">
    <header class="header-box">
        <i class="back"></i>
        <h3>马上用实名认证</h3>
    </header>
    <div class="promote-Info">
        <h3>《推广大师协议》</h3>
        <p>我自愿加入北京万门教育河南分校（以下简称“河南万门分校”，运营主体为本公众平台），并遵照河南万门分校运营规则，承诺不串货，不扰乱市场，禁止在一切公开网络销售等规则。</p>
        <h5>第一条</h5>
        <p>初次拿货五张及以上学习卡，即可成为河南万门分校推广大使，位置信息即可展示于马上用，平台帮助推广。</p>
        <h5>第二条</h5>
        <p>严格的等级体系，拿货价格越高则对应等级越高，对应的提现比率则越高。</p>
        <h5>第三条</h5>
        <p>仅供河南省内客户使用，不跨地域，严格执行总部的价格体系，不随意变更，不扰乱市场。</p>
        <h5>......</h5>
        <p>详细规则补充中，河南万门分校会随时补充完善！</p>
        <div class="footerInfo">
            <p>河南万门分校</p>
            <p>2018年1月1日</p>
        </div>
    </div>
</section>

<script charset="utf-8" src="__STATIC__/shop/js/jquery-3.2.1.js"></script>
<script charset="utf-8" src="__STATIC__/shop/js/distpicker.js"></script>
<script charset="utf-8" src="__STATIC__/shop/js/rem.js"></script>

<script charset="utf-8">
    $(document).ready(function () {
        // 设置页面最小高度为屏幕高度
        $('.container').css({ 'min-height': $(window).height() });
    })
</script>
</body>
</html>