<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="__STATIC__/shop/css/reset.css">
    <style>
        .back{
            width: 22px;
            height: 22px;
            position: absolute;
            top: 10px;
            left: 10px;
        }
        .back img{
            width: 100%;
        }
    </style>
</head>

<body>
    <section>
        <div class="back">
            <img src="__STATIC__/shop/image/leverBack.png" alt="">
        </div>
        <img style="width:100%" src="__STATIC__/shop/image/person-lever1.png" alt="">
        <img style="width:100%" src="__STATIC__/shop/image/person-lever2.png" alt="">
        <img style="width:100%" src="__STATIC__/shop/image/person-lever3.png" alt="">
        <img style="width:100%" src="__STATIC__/shop/image/person-lever4.png" alt="">
        <img style="width:100%" src="__STATIC__/shop/image/person-lever5.png" alt="">
        <img style="width:100%" src="__STATIC__/shop/image/person-lever6.png" alt="">
        <img style="width:100%" src="__STATIC__/shop/image/person-lever7.png" alt="">
    </section>
</body>

</html>