<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>分享赚钱</title>
    <link rel="stylesheet" href="__STATIC__/shop/css/reset.css">
    <link rel="stylesheet" href="__STATIC__/shop/css/swiper-3.4.2.min.css">
    <!-- <link rel="stylesheet" href="__STATIC__/shop/css/position.css"> -->
    <link rel="stylesheet" href="__STATIC__/shop/css/nav.css">
</head>
<body>
<section class="container">
    <div style="width: 100%;padding-bottom: 48.8px;overflow-y:hidden;">
        <img src="__STATIC__/shop/image/wx_code.jpg" width="100%"/>
    </div>
    <div style="position:absolute;top:23px;left:25px;width: 0.88rem;height: 0.85rem;border-radius: 50%;border: 0.02rem solid white;overflow: hidden;">
        <img src="<{$user_info.member_logo}>" alt="微信头像" style="vertical-align:top;width: 100%;margin: 0;padding: 0;"/>
    </div>
    <div style="text-align:center;color:#fff;position:absolute;top:34px;left:148px;width: 1.3rem;height: 0.2rem;font-size: 18px;">
        <{$user_info.member_nickname}>
    </div>
    <div style="position:absolute;top:2.82rem;left:1.16rem;width: 1.5rem;height: 1.5rem;border: 0.02rem solid white;overflow: hidden;">
        <img src="<{$user_info.member_recommend_wx_image_url}>" alt="微信分享" style="vertical-align:top;width: 100%;margin: 0;padding: 0;"/>
    </div>
    <{include file="shop/common:footer"}>
</section>
<script charset="utf-8" src="__STATIC__/shop/js/jquery-3.2.1.js"></script>
<script charset="utf-8" src="__STATIC__/shop/js/swiper-3.4.2.jquery.min.js"></script>
<script charset="utf-8" src="__STATIC__/shop/js/rem.js"></script>
</body>
</html>