<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
	<title>广告管理</title>
	<meta name="Keywords" content="" />
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<link rel="stylesheet" href="__STATIC__/css/default.css" />
	<!-- bootstrap & fontawesome -->
	<link rel="stylesheet" href="__STATIC__/assets/css/bootstrap.min.css" />
	<link rel="stylesheet" href="__STATIC__/assets/font-awesome/4.5.0/css/font-awesome.min.css" />

	<!-- page specific plugin styles -->

	<!-- text fonts -->
	<link rel="stylesheet" href="__STATIC__/assets/css/fonts.googleapis.com.css" />

	<!-- ace styles -->
	<link rel="stylesheet" href="__STATIC__/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

	<!--[if lte IE 9]>
	<link rel="stylesheet" href="__STATIC__/assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
	<![endif]-->
	<link rel="stylesheet" href="__STATIC__/assets/css/ace-skins.min.css" />
	<link rel="stylesheet" href="__STATIC__/assets/css/ace-rtl.min.css" />
	<link rel="stylesheet" href="__STATIC__/assets/css/myStyle.css" />

	<!--[if lte IE 9]>
	<link rel="stylesheet" href="__STATIC__/assets/css/ace-ie.min.css" />
	<![endif]-->

	<!-- inline styles related to this page -->

	<!-- ace settings handler -->
	<script src="__STATIC__/assets/js/ace-extra.min.js"></script>

	<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

	<!--[if lte IE 8]>
	<script src="__STATIC__/assets/js/html5shiv.min.js"></script>
	<script src="__STATIC__/assets/js/respond.min.js"></script>
	<![endif]-->
</head>
<body class="no-skin">
<!-- top -->
<{include file="public:nav_top" }>
<!-- top -->
<div class="main-container ace-save-state" id="main-container">
	<script type="text/javascript">
		try {
			ace.settings.loadState('main-container')
		} catch(e) {}
	</script>

	<div id="sidebar" class="sidebar                  responsive                    ace-save-state">
		<script type="text/javascript">
			try {
				ace.settings.loadState('sidebar')
			} catch(e) {}
		</script>
		<div class="sidebar-shortcuts" id="sidebar-shortcuts">
			<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
				<button class="btn btn-success">
					<i class="ace-icon fa fa-signal"></i>
				</button>

				<button class="btn btn-info">
					<i class="ace-icon fa fa-pencil"></i>
				</button>

				<button class="btn btn-warning">
					<i class="ace-icon fa fa-users"></i>
				</button>

				<button class="btn btn-danger">
					<i class="ace-icon fa fa-cogs"></i>
				</button>
			</div>
			<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
				<span class="btn btn-success"></span>

				<span class="btn btn-info"></span>

				<span class="btn btn-warning"></span>

				<span class="btn btn-danger"></span>
			</div>
		</div>
		<!-- /.sidebar-shortcuts -->

		<!-- /.nav-menu -->
		<{include file="public:menu" }>
		<!-- /.nav-menu -->
		<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
			<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
		</div>
	</div>

	<div class="main-content">
		<div class="main-content-inner">
			<!--面包屑-->
			<div class="breadcrumbs ace-save-state" id="breadcrumbs">
				<ul class="breadcrumb">
					<li>
						<i class="ace-icon fa fa-home home-icon"></i>
						<a href="index.html">首页</a>
					</li>
					<li>
						<a href="#">广告管理</a>
					</li>

					<li class="active">广告列表</li>
				</ul>
				<!-- /.breadcrumb -->

				<div class="nav-search" id="nav-search">
					<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="搜索 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
					</form>
				</div>
				<!-- /.nav-search -->
			</div>

			<div class="page-content">
				<div class="row">
					<button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#add-ad">
						<i class="ace-icon fa fa-plus"></i>
						添加广告
					</button>
				</div>

				<div class="space-4"></div>

				<div class="ace-settings-container" id="ace-settings-container">
					<div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
						<i class="ace-icon fa fa-cog bigger-130"></i>
					</div>

					<div class="ace-settings-box clearfix" id="ace-settings-box">
						<div class="pull-left width-50">
							<div class="ace-settings-item">
								<div class="pull-left">
									<select id="skin-colorpicker" class="hide">
										<option data-skin="no-skin" value="#438EB9">#438EB9</option>
										<option data-skin="skin-1" value="#222A2D">#222A2D</option>
										<option data-skin="skin-2" value="#C6487E">#C6487E</option>
										<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
									</select>
								</div>
								<span>&nbsp; 换肤</span>
							</div>

							<div class="ace-settings-item">
								<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-navbar" autocomplete="off" />
								<label class="lbl" for="ace-settings-navbar"> 固定导航栏</label>
							</div>

							<div class="ace-settings-item">
								<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off" />
								<label class="lbl" for="ace-settings-sidebar"> 固定侧边栏</label>
							</div>

							<div class="ace-settings-item">
								<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-breadcrumbs" autocomplete="off" />
								<label class="lbl" for="ace-settings-breadcrumbs"> 固定面包屑导航</label>
							</div>

							<div class="ace-settings-item">
								<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" autocomplete="off" />
								<label class="lbl" for="ace-settings-rtl"> 左右互换</label>
							</div>

							<div class="ace-settings-item">
								<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container" autocomplete="off" />
								<label class="lbl" for="ace-settings-add-container">
									内部
									<b>.container</b>
								</label>
							</div>
						</div>
						<!-- /.pull-left -->

						<div class="pull-left width-50">
							<div class="ace-settings-item">
								<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off" />
								<label class="lbl" for="ace-settings-hover"> 子菜单悬停</label>
							</div>

							<div class="ace-settings-item">
								<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off" />
								<label class="lbl" for="ace-settings-compact"> 紧凑的侧边栏</label>
							</div>

							<div class="ace-settings-item">
								<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off" />
								<label class="lbl" for="ace-settings-highlight"> Alt. Active 项目</label>
							</div>
						</div>
						<!-- /.pull-left -->
					</div>
					<!-- /.ace-settings-box -->
				</div>
				<!-- /.ace-settings-container -->
				<!-- /.ace-settings-container -->

				<div class="row">
					<!-- PAGE CONTENT BEGINS -->
					<table class="table table-bordered table-hover">
						<thead>
						<tr>
							<th class="hidden-480">ID</th>
							<th>广告图片</th>
							<th class="hidden-480">广告名称</th>
							<th class="hidden-480">所属位置</th>
							<th class="hidden-480">添加时间</th>
							<th class="hidden-480">排序</th>
							<th>状态</th>
							<th style="border-right: 1px solid #ddd;">操作</th>
						</tr>
						</thead>
						<tbody>
						<{foreach name="ad_list" item="ad"}>

						<tr style="height:100px;">
							<td class="hidden-480" style="line-height:100px;">
								<{$ad.ad_id}>
							</td>
							<td>
								<img src="__PUBLIC__/<{$ad.ad_pic}>" width="200px" height="80px" />
							</td>
							<td>
								<{$ad.ad_name}>
							</td>
							<td class="hidden-480">
								<{$ad.ad_pname}>
							</td>
							<td class="hidden-480">
								<{$ad.ad_addtime}>
							</td>
							<td class="hidden-480">
								<input type="number" class="input-small" value="<{$ad.ad_order}>"/>
							</td>
							<td>
								<{eq name="ad['ad_open']" value="10"}>
								<button class="status btn btn-minier btn-danger" type="button" data-id="<{$ad.ad_id}>" data-type="start">禁用</button>
								<{/eq}>
								<{eq name="ad['ad_open']" value="20"}>
								<button class="status btn btn-minier btn-success"  type="button" data-id="<{$ad.ad_id}>" data-type="stop">开启</button>
								<{/eq}>
							</td>
							<td>
								<button class="btn btn-xs btn-info" data-toggle="modal" data-target="#edit-ad" tpid="<{$ad.ad_pid}>" data-id="<{$ad.ad_id}>">
									<i class="ace-icon fa fa-pencil bigger-120"></i>
								</button>
								<button class="btn btn-xs bootbox-del" tpid="<{$ad.ad_pid}>"  data-id="<{$ad.ad_id}>">
									<i class="ace-icon fa fa-trash-o bigger-120"></i>
								</button>
							</td>
						</tr>

						<{/foreach}>
						</tbody>
					</table>

					<!-- PAGE CONTENT ENDS -->
					<!-- /.col -->
				</div>
				<!-- /.row -->
				<div class="row">
					<ul class="pagination no-margin">

					</ul>
				</div>
			</div>
			<!-- /.page-content -->
		</div>
	</div>
	<!-- /.main-content -->

	<{include file="public:footer"}>
</div>

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
	<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
</div>
<!-- /.main-container -->

<!-- 添加广告模态框（Modal） -->
<!-- 显示模态框（Modal） -->
<div class="modal fade" id="add-ad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<form class="form-horizontal ajaxForm2" name="plug_ad_add" method="post" action="addAd.html" enctype="multipart/form-data">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
					</button>
					<h4 class="modal-title" id="myModalLabel">
						添加广告
					</h4>
				</div>
				<div class="modal-body">

					<div class="row">
						<div class="col-xs-12">

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 所属位置： </label>
								<div class="col-sm-8">
									<select name="ad_pid" class="col-sm-10 col-xs-12 selector" required>
										<option value="0">请选择所属广告位</option>
										<{foreach name="ad_position" item="pos"}>
										<option value="<{$pos.ad_pid}>"><{$pos.ad_pname}></option>
										<{/foreach}>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 广告名称：  </label>
								<div class="col-sm-8">
									<input type="text" name="ad_name" placeholder="输入广告名称" class="col-xs-12 col-sm-10" required/>
								</div>
							</div>
							<div class="form-group" id="pic_list">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 广告图片： </label>
								<div class="col-sm-8">
									<input type="file" id="id-input-file-2" name="pic" />
									<div><img src="__STATIC__/assets/images/no_img.jpg" height="70" id="img0"></div>
								</div>
							</div>

							<div class="form-group" id="pic_listurl">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 链接URL：  </label>
								<div class="col-sm-8">
									<input type="text" name="ad_url" id="plug_ad_url" placeholder="必须是以http://开头" class="col-xs-12 col-sm-10" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 是否开启： </label>
								<div class="col-sm-8" style="padding-top:5px;">
									<input value="10" class="ace ace-switch ace-switch-4 btn-empty" name="ad_open" type="checkbox" />
									<span class="lbl">&nbsp;&nbsp;默认关闭</span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 排序：  </label>
								<div class="col-sm-8">
									<input type="number" name="ad_order"  placeholder="默认值255"  value="" class="col-xs-12 col-sm-5" />
									<span class="lbl">&nbsp;&nbsp;<span class="red">*</span>从小到大排序</span>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success">
						<i class="ace-icon fa fa-save"></i>
						提交保存
					</button>
					<button class="btn btn-info" type="reset">
						<i class="ace-icon fa fa-refresh"></i>
						重置
					</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">
						<i class="ace-icon fa fa-close"></i>
						关闭
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</form>
</div>
<!-- /.modal -->

<!-- 修改广告模态框（Modal） -->
<div class="modal fade" id="edit-ad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<form class="form-horizontal ajaxForm2" name="plug_ad_add" method="post" action="edit_ad.html" enctype="multipart/form-data">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
					</button>
					<h4 class="modal-title" id="myModalLabel">
						编辑广告
					</h4>
				</div>
				<div class="modal-body">
					<input type="hidden" name="ad_id" value="" />
					<div class="row">
						<div class="col-xs-12">

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 所属位置： </label>
								<div class="col-sm-8">
									<select name="ad_pid" class="col-sm-10 col-xs-12 selector" required  id="edit_ad_pid" >
										<option value="0">请选择所属广告位</option>
										<{foreach name="ad_position" item="pos"}>
										<option value="<{$pos.ad_pid}>"><{$pos.ad_pname}></option>
										<{/foreach}>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 广告名称：  </label>
								<div class="col-sm-8">
									<input type="text" name="ad_name" id="edit_ad_name" placeholder="输入广告名称" class="col-xs-12 col-sm-10" required/>
								</div>
							</div>
							<div class="form-group" id="pic_list">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 广告图片： </label>
								<div class="col-sm-8">
									<input type="file" id="id-input-file-2" name="pic" />
									<div><img src="__STATIC__/assets/images/no_img.jpg" height="70"  id="edit_ad_pic" ></div>
								</div>
							</div>

							<div class="form-group" id="pic_listurl">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 链接URL：  </label>
								<div class="col-sm-8">
									<input type="text" name="ad_url"  id="edit_ad_url"  placeholder="必须是以http://开头" class="col-xs-12 col-sm-10" />
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 是否开启： </label>
								<div class="col-sm-8" style="padding-top:5px;">
									<input value="10" class="ace ace-switch ace-switch-4 btn-empty"  id="edit_ad_open"  name="ad_open" type="checkbox" />
									<span class="lbl">&nbsp;&nbsp;默认关闭</span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 排序：  </label>
								<div class="col-sm-8">
									<input type="number" name="ad_order"  id="edit_ad_order"  placeholder="默认值255"  value="" class="col-xs-12 col-sm-5" />
									<span class="lbl">&nbsp;&nbsp;<span class="red">*</span>从小到大排序</span>
								</div>
							</div>

						</div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success">
						<i class="ace-icon fa fa-save"></i>
						提交保存
					</button>
					<button class="btn btn-info" type="reset">
						<i class="ace-icon fa fa-refresh"></i>
						重置
					</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">
						<i class="ace-icon fa fa-close"></i>
						关闭
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</form>
</div>
<!-- /.modal -->

<!-- basic scripts -->

<!--[if !IE]> -->
<script src="__STATIC__/assets/js/jquery-2.1.4.min.js"></script>
<!-- <![endif]-->

<!--[if IE]>
<script src="__STATIC__/assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
<script type="text/javascript">
	if('ontouchstart' in document.documentElement) document.write("<script src='__STATIC__/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
<script src="__STATIC__/assets/js/bootstrap.min.js"></script>

<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
<script src="__STATIC__/assets/js/excanvas.min.js"></script>
<![endif]-->
<script src="__STATIC__/assets/js/jquery-ui.custom.min.js"></script>
<script src="__STATIC__/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="__STATIC__/assets/js/bootbox.js"></script>
<script src="__STATIC__/assets/js/jquery.easypiechart.min.js"></script>
<script src="__STATIC__/assets/js/jquery.gritter.min.js"></script>
<script src="__STATIC__/assets/js/spin.js"></script>

<!-- ace scripts -->
<script src="__STATIC__/assets/js/ace-elements.min.js"></script>
<script src="__STATIC__/assets/js/ace.min.js"></script>
<script src="__STATIC__/assets/js/main.js"></script>

<!-- inline scripts related to this page -->
<script src="__STATIC__/js/default.js"></script>
<script src="__PUBLIC__/static/layer/layer.js"></script>
<script type="text/javascript">
	jQuery(function($) {
		//编辑按钮
		var editObj = new Object(<{$adMenu}>);
		$(".btn-info").on(ace.click_event,function(){
			var editid = $(this).attr('data-id');
			var pid = $(this).attr('tpid');
			if(editObj !=""){
				for(var info in editObj){
					var mid = editObj[info].ad_id;
					if(mid==editid){
						var img_pic = "__PUBLIC__" + "/" + editObj[info].ad_pic;
						$("input[name='ad_id']").val(editid);
						$("#edit_ad_name").val(editObj[info].ad_name);
						$("#edit_ad_url").val(editObj[info].ad_url);
						$("#edit_ad_order").val(editObj[info].ad_order);
						if(editObj[info].ad_popen==10){
							$("#edit_ad_open").attr("checked",true);
						}
						$("#edit_ad_pic").attr('src',img_pic);
						$("#edit_ad_pid>option").each(function(index,value){
							var spid = $("#edit_ad_pid>option").eq(index).val();
							if(pid==spid) {
								$("#edit_ad_pid>option").eq(index).prop("selected", true);
							}
						});
					}
				}
			}
		});
		//删除按钮
		$(".bootbox-del").on(ace.click_event, function() {
			var delId = $(this).attr("data-id");
			bootbox.confirm({
				message: "是否删除本条广告？",
				size: 'small',
				buttons: {
					confirm:{label:"确认删除"},
					cancel:{label:"取消删除"}
				},
				callback: function(result) {
					if(result) {
						//确定后执行
						$.ajax({
							url:"del_ad.html",
							type:"post",
							data:{delId:delId,type:'del'},
							dataType:"json",
							success:function(re){
								layer.open({
									content: '浏览器滚动条已锁',
									scrollbar: false,
									icon:100
								});
								if(re.code==200){
									window.location.href="ad.html";
								}else{
									return false;
								}
							}
						});
					}
				}
			});
		});
		function open(id,status){
			if(id!='' && status!=''){
				openItems('ad_open.html',{adId:id,status:status},'callback');
			}else{
				alert('参数错误');
				return false;
			}
		}
		//状态开启关闭
		$("td .btn-success,td .btn-danger").on(ace.click_event, function() {
			var delId = $(this).attr("data-id");
			var type  = $(this).attr("data-type");
			bootbox.confirm({
				message: "确认要关闭/开启广告吗？",
				size: 'small',
				buttons: {
					confirm:{label:"确认"},
					cancel:{label:"取消"}
				},
				callback: function(result) {
					if(result) {
						//确定后执行
						$.ajax({
							url:"del_ad.html",
							type:"post",
							data:{delId:delId,type:type},
							dataType:"json",
							success:function(re){
								if(re.code==200){
									window.alert(re.msg);
									window.location.href="ad.html";
								}else{
									window.alert(re.msg);
									return false;
								}
							}
						});
					}
				}
			});
		});
	});

</script>
</body>

</html>