<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>添加产品</title>
    <meta name="Keywords" content="关键词" />
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="__STATIC__/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="__STATIC__/assets/font-awesome/4.5.0/css/font-awesome.min.css" />

    <!-- page specific plugin styles -->

    <!-- text fonts -->
    <link rel="stylesheet" href="__STATIC__/assets/css/fonts.googleapis.com.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="__STATIC__/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="__STATIC__/assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
    <![endif]-->
    <link rel="stylesheet" href="__STATIC__/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="__STATIC__/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="__STATIC__/assets/css/myStyle.css" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="__STATIC__/assets/css/ace-ie.min.css" />
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->
    <script src="__STATIC__/assets/js/ace-extra.min.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script src="__STATIC__/assets/js/html5shiv.min.js"></script>
    <script src="__STATIC__/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="no-skin">
<{include file="public:nav_top"}>
<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch(e) {}
    </script>
    <div id="sidebar" class="sidebar                  responsive                    ace-save-state">
        <script type="text/javascript">
            try {
                ace.settings.loadState('sidebar')
            } catch(e) {}
        </script>

        <div class="sidebar-shortcuts" id="sidebar-shortcuts">
            <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                <a href="parameter.html" class="btn btn-success">
                    <i class="ace-icon fa fa-desktop"></i>
                </a>

                <a href="add-content.html" class="btn btn-info">
                    <i class="ace-icon fa fa-pencil"></i>
                </a>

                <a href="admin-list.html" class="btn btn-warning">
                    <i class="ace-icon fa fa-users"></i>
                </a>

                <a href="ad.html" class="btn btn-danger">
                    <i class="ace-icon fa fa-diamond"></i>
                </a>
            </div>

            <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                <span class="btn btn-success"></span>

                <span class="btn btn-info"></span>

                <span class="btn btn-warning"></span>

                <span class="btn btn-danger"></span>
            </div>
        </div>
        <!-- /.sidebar-shortcuts -->
        <{include file="public:menu"}>
        <!-- /.nav-list -->

        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div>
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="index.html">首页</a>
                    </li>
                    <li>
                        <a href="#">商品管理</a>
                    </li>
                    <li class="active">添加产品</li>
                </ul>
                <!-- /.breadcrumb -->
                <div class="nav-search" id="nav-search">
                    <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="搜索 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
                    </form>
                </div>
                <!-- /.nav-search -->
            </div>
            <div class="page-content">
                <!--设置按钮-->
                <!-- /.ace-settings-container -->
                <!-- /.page-header -->
                <div class="alert alert-info">
                    <i class="ace-icon fa fa-hand-o-right"></i> 请您填写商品信息
                    <button class="close" data-dismiss="alert">
                        <i class="ace-icon fa fa-times"></i>
                    </button>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <form class="form-horizontal ajaxForm2" action="editProduct.html" method="post" enctype="multipart/form-data" name="form-product" id="form-product">
                            <div class="form-group">
                                <input name="product_id" type="hidden" value="<{$info['product_id']}>">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 商品分类： </label>
                                <div class="col-sm-10">
                                    <select name="pc_id" class="col-sm-6 selector">
                                        <option value="">请选择商品分类</option>
                                                <{foreach name="class" item="p_class"}>
                                                    <option <{eq name="p_class['pc_id']" value="$info['pc_id']"}>selected="selected"<{/eq}> value="<{$p_class.pc_id}>">├├<{$p_class.pc_name}></option>
                                                     <{PRESENT name="$p_class['two']"}>
                                                        <{foreach name="p_class['two']" item="pc2"}>
                                                            <option <{eq name="pc2['pc_id']" value="$info['pc_id']"}>selected="selected"<{/eq}> value="<{$pc2.pc_id}>">├├├├<{$pc2.pc_name}></option>
                                                                <{PRESENT name="$p_class['three']"}>
                                                                    <{foreach name="pc2['three']" item="pc3"}>
                                                                        <option <{eq name="pc3['pc_id']" value="$info['pc_id']"}>selected="selected"<{/eq}> value="<{$pc3.pc_id}>">├├├├├├<{$pc3.pc_name}></option>
                                                                     <{/foreach}>
                                                                <{/PRESENT}>
                                                        <{/foreach}>
                                                     <{/PRESENT}>
                                                <{/foreach}>
                                    </select>
                                </div>
                            </div>
                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 商品名称：  </label>
                                <div class="col-sm-10 no-padding">
                                    <div class="col-xs-10 col-sm-6">
                                        <input type="text" name="product_name" value="<{$info.product_name}>" id="pro_title" placeholder="请输入商品名称,不能超过30个字" class="form-control" required="">
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle" id="resone"></span>
											</span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                       <!--     <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 商品促销语：  </label>
                                <div class="col-sm-10 no-padding">
                                    <div class="col-xs-10 col-sm-6">
                                        <input type="text" name="product_sale_promotion" value="<{$info.product_sale_promotion}>" id="pro_sale_promotion" placeholder="请输入促销语,不能超过60个字" class="form-control">
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle" id="resone"></span>
											</span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 关键词：  </label>
                                <div class="col-sm-10 no-padding">
                                    <div class="col-xs-10 col-sm-6">
                                        <input type="text" name="product_keywords" value="<{$info.product_keywords}>" id="pro_keywords" placeholder="商品关键词,用于SEO搜索" class="form-control">
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle" id="resone"></span>
											</span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">
                                    商品供货商：
                                </label>
                                <div class="col-sm-10 no-padding">
                                    <div class="col-xs-10 col-sm-6">
                                        <select name="supplier_id" class="col-sm-6 selector">
                                            <option value="">请选择商品供货商</option>
                                            <{foreach name="supplier_list" item="supplier"}>
                                                <option <{eq name="supplier['supplier_id']" value="$info['supplier_id']"}>selected="selected"<{/eq}> value="<{$supplier.supplier_id}>" class="bgc">├├<{$supplier.supplier_name}></option>
                                            <{/foreach}>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">
                                    商品品牌：
                                </label>
                                <div class="col-sm-10 no-padding">
                                    <div class="col-xs-10 col-sm-6">
                                        <select name="brand_id" class="col-sm-6 selector">
                                            <option value="">请选择商品品牌</option>
                                            <{PRESENT name="brand"}>
                                                <{foreach name="brand" item="b"}>
                                                    <option <{eq name="b['brand_id']" value="$info['brand_id']"}>selected="selected"<{/eq}> value="<{$b.brand_id}>" class="bgc">├├├├<{$b.brand_name}></option>
                                                <{/foreach}>
                                            <{/PRESENT}>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="space-4"></div>-->
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">
                                    商品标签：
                                </label>
                                <div class="col-sm-10 no-padding">
                                    <div class="col-xs-10 col-sm-6">
                                        <select name="product_recommend" class="col-sm-6 selector">
                                            <option value="">请选择商品标签</option>
                                            <option <{eq name="info['product_recommend']" value="10"}>selected="selected"<{/eq}>value="10">普通商品</option>
                                            <option <{eq name="info['product_recommend']" value="20"}>selected="selected"<{/eq}>value="20">置顶商品</option>
                                            <option <{eq name="info['product_recommend']" value="30"}>selected="selected"<{/eq}>value="30">人气商品</option>
                                            <option <{eq name="info['product_recommend']" value="40"}>selected="selected"<{/eq}>value="40">推荐商品</option>
                                            <option <{eq name="info['product_recommend']" value="50"}>selected="selected"<{/eq}>value="50">积分商品</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 积分价格：  </label>
                                <div class="col-sm-10 no-padding">
                                    <div class="col-xs-10 col-sm-6">
                                        <input type="text" name="product_point" id="pro_point" placeholder="" class="form-control">
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle" id="point"></span>
											</span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <hr />

                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">
                                    价格：
                                </label>
                                <div class="col-sm-10 no-padding">
                                    <div class="col-xs-4 col-sm-2">
                                      <!--  市场价：-->
                                        <input type="number" name="product_market_price" value="<{$info.product_market_price}>" class="input-small" required>元
                                    </div>
                                    <!--<div class="col-xs-4 col-sm-2">
                                        销售价：
                                        <input type="number" name="product_sale_price" value="<{$info.product_sale_price}>" class="input-small" required>元
                                    </div>
                                    <div class="col-xs-4 col-sm-2">
                                        成本价：
                                        <input type="number" name="product_base_price" value="<{$info.product_base_price}>" class="input-small" required>元
                                    </div>
                                    <div class="col-xs-4 col-sm-2">
                                        会员价：
                                        <input type="number" name="product_member_price" value="<{$info.product_member_price}>" class="input-small" required>元
                                    </div>-->
                                </div>
                            </div>
                            <div class="space-4"></div>
                         <!--   <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">
                                    基础数据：
                                </label>
                                <div class="col-sm-10 no-padding">
                                    <div class="col-xs-4 col-sm-2">
                                        基础销量：
                                        <input type="number" name="product_base_sale_count" value="<{$info.product_base_sale_count}>" placeholder="默认15246" class="input-small">
                                    </div>
                                    <div class="col-xs-4 col-sm-2">
                                        基础点计量：
                                        <input type="number" name="product_base_hits_count" placeholder="默认852" value="<{$info.product_base_hits_count}>" class="input-small">
                                    </div>
                                    <div class="col-xs-4 col-sm-2">
                                        基础分享数：
                                        <input type="number" name="product_base_shave_count" placeholder="默认368" value="<{$info.product_base_shave_count}>" class="input-small">
                                    </div>
                                    <div class="col-xs-4 col-sm-2">
                                        总库存：
                                        <input type="number" name="product_account" placeholder="默认999999999" value="<{$info.product_account}>" class="input-small">
                                    </div>
                                    <div class="col-xs-4 col-sm-2">
                                        库存预警：
                                        <input type="number" name="product_call_count" placeholder="默认150" value="<{$info.product_call_count}>" class="input-small">
                                    </div>
                                </div>
                            </div>-->
                            <div class="space-4"></div>
                            <hr style="height:0.5px;"/>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1">
                                    商品关联规格：
                                </label>
                                <div class="col-sm-10" style="width:65%;" id="edit_box">
                                    <{foreach name="format_list" item="format"}>
                                        <input type="checkbox" name="format_id[]"  <{in name="format['format_id']" value="$info['format_id']"}> checked <{/in}>  value="<{$format.format_id}>" style="width: 20px;height: 20px;margin-top:10px;"/>
                                        <label>&nbsp;<{$format.format_name}>&nbsp;</label>
                                    <{/foreach}>
                                    <input type="button" value="确定" id="confirm_type">
                                    <{PRESENT name="product_attr_format"}>
                                        <{foreach name="product_attr_format" item="attr_format"}>
                                            <div class='col-sm-4' id='attr_box_<{$key}>' style='width:100%;float: left;margin: 30px;'>
                                                <input type='input' readonly name='format_list_name[]' style='min-width:150px;'  value='<{$attr_format.attr_value}>' class='input-small' >&nbsp;
                                                <!--市场价：--><input type='number' name='format_market_price[]' style='max-width:150px' value='<{$attr_format.attr_market_price}>' class='input-small' >
                                                <!--销售价：<input type='number' name='format_sale_price[]' style='max-width:150px'  value='<{$attr_format.attr_sale_price}>' class='input-small' >
                                                成本价：<input type='number' name='format_base_price[]' style='max-width:150px'  value='<{$attr_format.attr_base_price}>' class='input-small' >
                                                会员价：<input type='number' name='format_member_price[]'  style='max-width:150px' value='<{$attr_format.attr_member_price}>' class='input-small' >
                                                积分价：<input type='number' name='attr_point[]'  style='max-width:150px' value='<{$attr_format.attr_point}>' class='input-small' >-->
                                            </div>
                                        <{/foreach}>
                                    <{/PRESENT}>
                                </div>
                            </div>
                            <hr />
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 商品封面图片上传： </label>
                                <div class="col-sm-10 no-padding">
                                    <div class="col-sm-4">
                                        <input type="file" name="file_logo" id="id-input-file-4"/>
                                    </div>
                                    <span class="lbl">&nbsp;&nbsp;上传前先用PS处理成等比例图片后上传，最后都统一比例<br></span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <hr />
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 商品多图片上传： </label>
                                <div class="col-sm-10 no-padding">
                                    <div class="col-sm-4">
                                        <input type="file" name="file_more[]" id="id-input-file-5" multiple />
                                    </div>
                                    <span class="lbl">&nbsp;&nbsp;上传前先用PS处理成等比例图片后上传，最后都统一比例<br></span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <hr style="height:0.5px;"/>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 是否审核： </label>
                                <div class="col-sm-10" style="padding-top:5px;">
                                    <input name="open" id="open" value="1" class="ace ace-switch ace-switch-6" type="checkbox">
                                    <span class="lbl">&nbsp;&nbsp;默认关闭</span>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 商品简介： </label>
                                <div class="col-sm-9">
                                    <input type="text" name="product_scontent" value="<{$info.product_scontent}>" class="col-xs-10 col-sm-10" maxlength="100" placeholder="已限制在100个字以内">
                                </div>
                            </div>
                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 商品主内容 </label>
                                <div class="col-sm-8">
                                    <script src="__STATIC__/assets/js/ueditor.config.js" type="text/javascript"></script>
                                    <script src="__STATIC__/assets/js/ueditor.all.js" type="text/javascript"></script>
                                    <textarea name="product_content" style="width:100%;" id="myEditor"><{$info.product_content}></textarea>
                                    <script type="text/javascript">
                                        var editor = new UE.ui.Editor({
                                            initialFrameHeight: 300
                                        });
                                        editor.render("myEditor");
                                    </script>
                                </div>
                            </div>
                            <div class="space-4"></div>

                            <div class="clearfix form-actions">
                                <div class="col-md-offset-3 col-md-9">
                                    <button class="btn btn-success" type="submit">
                                        <i class="ace-icon fa fa-save bigger-110"></i>
                                        提交保存
                                    </button> &nbsp; &nbsp; &nbsp;&nbsp;
                                    <button class="btn" type="reset">
                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                        重置
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.page-content -->
        </div>
    </div>
    <!-- /.main-content -->
    <{include file="public:footer"}>
</div>
<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
</div>
<!-- /.main-container -->
<!-- basic scripts -->
<!--[if !IE]> -->
<script src="__STATIC__/assets/js/jquery-2.1.4.min.js"></script>
<!-- <![endif]-->
<!--[if IE]>
<script src="__STATIC__/assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='__STATIC__/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
<script src="__STATIC__/assets/js/bootstrap.min.js"></script>
<!-- page specific plugin scripts -->
<!--[if lte IE 8]>
<script src="__STATIC__/assets/js/excanvas.min.js"></script>
<![endif]-->
<script src="__STATIC__/assets/js/jquery-ui.custom.min.js"></script>
<script src="__STATIC__/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="__STATIC__/assets/js/jquery.easypiechart.min.js"></script>
<script src="__STATIC__/assets/js/jquery.sparkline.index.min.js"></script>
<script src="__STATIC__/assets/js/jquery.flot.min.js"></script>
<script src="__STATIC__/assets/js/jquery.flot.pie.min.js"></script>
<script src="__STATIC__/assets/js/jquery.flot.resize.min.js"></script>
<!---->
<!-- page specific plugin scripts -->
<script src="__STATIC__/assets/js/wizard.min.js"></script>
<script src="__STATIC__/assets/js/jquery.validate.min.js"></script>
<script src="__STATIC__/assets/js/jquery-additional-methods.min.js"></script>
<script src="__STATIC__/assets/js/bootbox.js"></script>
<script src="__STATIC__/assets/js/jquery.inputlimiter.min.js"></script>
<script src="__STATIC__/assets/js/jquery.maskedinput.min.js"></script>
<script src="__STATIC__/assets/js/select2.min.js"></script>
<script src="__STATIC__/assets/js/bootstrap-tag.min.js"></script>
<!-- ace scripts -->
<script src="__STATIC__/assets/js/ace-elements.min.js"></script>
<script src="__STATIC__/assets/js/ace.min.js"></script>
<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function($) {
        var tag_input = $('#form-field-tags');
        try{
            tag_input.tag(
                    {
                        placeholder:tag_input.attr('placeholder'),
                        //enable typeahead by specifying the source array
                        source: ace.vars['US_STATES'],//defined in ace.js >> ace.enable_search_ahead
                        /**
                         //or fetch data from database, fetch those that match "query"
                         source: function(query, process) {
						  $.ajax({url: 'remote_source.php?q='+encodeURIComponent(query)})
						  .done(function(result_items){
							process(result_items);
						  });
						}
                         */
                    }
            )
            //programmatically add/remove a tag
            var $tag_obj = $('#form-field-tags').data('tag');
            $tag_obj.add('土豪金');
            var index = $tag_obj.inValues('some tag');
            $tag_obj.remove(index);
        }
        catch(e) {
            //display a textarea for old IE, because it doesn't support this plugin or another one I tried!
            tag_input.after('<textarea id="'+tag_input.attr('id')+'" name="'+tag_input.attr('name')+'" rows="3">'+tag_input.val()+'</textarea>').remove();
            //autosize($('#form-field-tags'));
        }

        $('#id-input-file-2,#id-input-file-3').ace_file_input({
            no_file: '未选择 ...',
            btn_choose: '选择',
            btn_change: '更改',
            droppable: false,
            onchange: null,
            thumbnail: false
        });
        //开启上传文件类型白名单，过滤非图片格式
        var whitelist_ext = ["jpeg", "jpg", "png", "gif", "bmp"];
        var whitelist_mime = ["image/jpg", "image/jpeg", "image/png", "image/gif", "image/bmp"];
        var file_input = $('#id-input-file-2');
        file_input
                .ace_file_input('update_settings', {
                    'allowExt': whitelist_ext,
                    'allowMime': whitelist_mime
                });

        var btn_choose = "Drop images here or click to choose";
        var no_icon = "ace-icon fa fa-picture-o";

        //多图设置
        $("#pic_list").hide();
        $("#news_pic_list").click(function() {
            $("#pic_list").hide();
        });
        $("#news_pic_qqlist").click(function() {
            $("#pic_list").show();
        });

        $('#id-input-file-4').ace_file_input({
            style: 'well',
            btn_choose: 'Drop files here or click to choose',
            btn_change: null,
            no_icon: 'ace-icon fa fa-cloud-upload',
            droppable: true,
            thumbnail: 'fit' //large | fit
            ,
            preview_error: function(filename, error_code) {
                //name of the file that failed
                //error_code values
                //1 = 'FILE_LOAD_FAILED',
                //2 = 'IMAGE_LOAD_FAILED',
                //3 = 'THUMBNAIL_FAILED'
                //alert(error_code);
            }
        }).on('change', function() {
            //console.log($(this).data('ace_input_files'));
            //console.log($(this).data('ace_input_method'));
        });

        var file_input2 = $('#id-input-file-4');
        file_input2.ace_file_input('update_settings', {
            'btn_choose': btn_choose,
            'no_icon': no_icon,
            'allowExt': whitelist_ext,
            'allowMime': whitelist_mime
        })
        $('#id-input-file-5').ace_file_input({
            style: 'well',
            btn_choose: 'Drop files here or click to choose',
            btn_change: null,
            no_icon: 'ace-icon fa fa-cloud-upload',
            droppable: true,
            thumbnail: 'fit' //large | fit
            ,
            preview_error: function(filename, error_code) {
                //name of the file that failed
                //error_code values
                //1 = 'FILE_LOAD_FAILED',
                //2 = 'IMAGE_LOAD_FAILED',
                //3 = 'THUMBNAIL_FAILED'
                //alert(error_code);
            }
        }).on('change', function() {
            //console.log($(this).data('ace_input_files'));
            //console.log($(this).data('ace_input_method'));
        });
        var file_input3 = $('#id-input-file-5');
        file_input2.ace_file_input('update_settings', {
            'btn_choose': btn_choose,
            'no_icon': no_icon,
            'allowExt': whitelist_ext,
            'allowMime': whitelist_mime
        })
    })
</script>
<script type="text/javascript">
    $(function () {
        var ob = [];
        $("#confirm_type").on('click',function(){
            ob.length = 0;
            $(".col-sm-10 input:checkbox").each(function () {
                var art = $(this).prop("checked");
                var format_id = $(this).val();
                if(art===true){
                    ob.push(format_id);
                }
            });
            if(ob.length>0){
                $("#edit_box .col-sm-4").remove();
                $.ajax({
                    url:'common.html',
                    type:'post',
                    data:{id:ob},
                    dataType:'json',
                    success:function (res) {
                        if(res){
                            for(var dex in res){
                                var input = "<div class='col-sm-4' id='attr_box"+dex+"' style='width:100%;float: left;margin: 30px;'>"+
                                        "<input type='input' readonly name='format_list_name[]' style='min-width:150px;'  value='" + res[dex] + "' class='input-small' >&nbsp;"+
                                        "市场价：<input type='number' name='format_market_price[]' style='max-width:150px' value='' class='input-small' >"+
                                        "销售价：<input type='number' name='format_sale_price[]' style='max-width:150px'  value='' class='input-small' >"+
                                        "成本价：<input type='number' name='format_base_price[]' style='max-width:150px'  value='' class='input-small' >"+
                                        "会员价：<input type='number' name='format_member_price[]'  style='max-width:150px' value='' class='input-small' >"+
                                        "积分价：<input type='number' name='attr_point[]'  style='max-width:150px' value='' class='input-small' ></div>";
                                $("#edit_box").append(input);
                            }
                        }
                    }
                });
            }
        });

    });
</script>
</body>
</html>